<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <link rel="stylesheet" href="../static/css/StyleConsult.css" type="text/css" media="all" />
        <title>Web App</title>
    </head>
    <body>
    <h1>Consulte su cita</h1>
    <form action="/consult_cita" method="post">
        <label>Codigo de cliente</label> <input type="text" name="id"/> <br> <br>
        <button type="submit">Consultar</button>
    </form>
</body>
</html>
